// Importações de bibliotecas externas
@use 'variables';// Importe as variáveis primeiro

// Mixins, funções, placeholders, etc.
// Se tiver algum mixin geral, defina aqui

// Importações de estilos próprios
@use 'hero';
@use 'components/infos_bar';
@use 'components/buttons';
@use 'event';

// Variáveis globais
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: variables.$textColor;
    list-style: none;
}

// Layout
.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}

// Outras regras globais, como estilos de link, etc.